.menu-tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; 
    background-color: #f1f1f1;
    position: sticky;  
    top: 0;  
    z-index: 10;  
}

.menu-tabs-container::-webkit-scrollbar {
    display: none; 
}

.menu-tabs {
    display: inline-flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px 0;
    white-space: nowrap;
}

.menu-tab {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    color: #333;
    font-size: 1rem;
    display: inline-block;
}

.menu-tab.active {
    color: #ffc062;
    border-bottom: 2px solid #ffc062;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card {
    background-color: #ffffff;
    padding: 80px;
    border: 2.5px solid #ffc062;
    border-radius: 20px;
    width: 98vw;
    max-width: 1000px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    text-align: center;
}

.qr-placeholder {
    width: 98vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.qr-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #000000;
    padding: 20px;
}

.info-card h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: left;
}

.info-card p {
    color: black;
    margin: 10px 0;
    text-align: right;
    font-size: 1.4rem;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 2.5px solid #eee;
    font-size: 1.5rem;
    width: 100%;  
}

/* 메뉴 이름 */
.menu-item span:first-child {
    flex: 1;  
    text-align: center;  
    font-size: 1.5rem;
    margin-left: auto;  
    padding-left: 0;  
    margin-right: 150px;  
}

.price {
    color: #000000;  
    font-size: 1.5rem;
    margin-right: 50px;
}

.heart {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    margin-right: 50px;
}

.heart-icon {
    width: 24px;
    height: 24px;
}

.info-card h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.info-card p {
    text-align: center;
    font-size: 1.4rem;
    margin: 10px 0;
}


.no-tickets {
    font-size: 2rem;
    color: #ffc062;
    text-align: center;
    margin-top: 30px; 
    background-color: #f0f0f0;
    width: 100%;
    height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation-hours {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%;
}

.operation-hours h2 {
    margin: 0;  
    flex: 1;  
    text-align: center;  
    margin-left: auto;  
    margin-top : 35px;
    padding-left: 0;  
    margin-right: 150px; 
}

.hours-info {
    text-align: right;  
    margin-right: 50px;
}
