.pay-result-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.pay-result-message {
    background-color: white;
    padding: 120px 150px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
