.restaurant-list {
    padding: 10px;
  }
  
  .restaurant {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .restaurant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
  }
  
  .restaurant h2 {
    color: #ffa500;
    margin: 0;
  }
  
  .hours p {
    margin: 0;
    font-size: 0.9em;
    color: #3f3f3f;
  }
  
  /* 토글 애니메이션 추가 */
  .menu-list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  
  .menu-list.open {
    max-height: 500px; /* 충분히 큰 값으로 설정하여 내용이 모두 표시되도록 */
    padding-top: 10px; /* 펼쳐질 때 패딩 추가 */
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .menu-item span {
    font-size: 0.9em;
  }
  
  .like {
    display: flex;
    align-items: center;
  }
  
  .heart-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  